@model List<GetProductAdminVM>
@{
    int count = 0;
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>

                <div class="table-responsive">
                    <a asp-action="create" class="btn btn-success ">Create Product</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GetProductAdminVM productVM in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images/@productVM.Image"></img>
                                    </td>
                                    <td>
                                        <p>@productVM.Name</p>
                                    </td>
                                    <td>
                                        <p>@productVM.Price</p>
                                    </td>
                                    <td>
                                        <p>@productVM.CategoryName</p>
                                    </td>
                                   
                                    <td>
                                        <a asp-action="update" asp-route-id="@productVM.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                        <a asp-action="delete" asp-route-id="@productVM.Id" class="btn btn-danger"><i class="mdi mdi-delete"></i></a>
                                        <a class="btn btn-secondary"><i class="mdi mdi-information"></i></a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
